.filterModalItem {
    all: unset;
  border-radius: 20px;
  margin: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  .filterModalCancel {
    margin-left: 1em;
    display: flex;
    justify-content: center;
    align-items: stretch;
    transition: transform 0.3s ease-in-out;

  }
  &:hover > .filterModalCancel{
      transform: scale(1.2);
  }
  .filterModalTitle {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
