.showCase {
  position: relative;
  background-image: url(../../public/show-case2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3em 2em;
  overflow: hidden;
  @media (max-width: 450px) {
    padding: 3em 10px;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
  }

  .showBoxs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 800px) {
      flex-direction: column;
    }
    .showBox {
      width: 100%;
      color: white;
      z-index: 3;

      .siteDate {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: column;
        margin: 1em 0;

        @media (max-width: 800px) {
          margin-top: 2em;
        align-items:flex-start;
        }
        .timeTitle {
          font-size: 1.2em;
          font-weight: 500;
        }
        .time {
          font-weight: 200;
          font-size: 0.9em;
          margin-top: .5em;
        }
      }

    }
  }
}
